* {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
   line-height: 40px;
}

section, footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 50em;
   margin: 3em;
}

#nav-bar {
   width: 100%;
   position: sticky;
   top: 0;
   left: 0;
   margin: 0;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   padding: 4vh 0 25px;
   color: #eee;
   background-color: #222;
}

h1 {
   font-size: 1.2em;
}

h2 {
   text-decoration: underline;
}

nav a {
   text-decoration: none;
   color: #eee;
   font-weight: 600;
   padding: 5px 10px;
   transition: 0.1s;
}

nav a:hover, nav a:active {
   border-bottom: 2px solid #eee;
}

#fav-food {
   flex-wrap: wrap;
}

#fav-food ul {
   list-style-type: none;
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   /* grid-template-columns: 1fr 1fr; */
   /* gap: 10px; */
}

#fav-food ul li {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 38vw;
   max-width: 20em;
   height: 25vw;
   margin: 1vw;
   background-color: #cacaca;
   border-radius: 5%;
}

progress {
   background: #433243;
   margin: 10px 0 -5px 60px;
   border-radius: 0;
   height: 25px;
}